html {
    background-image:url(images/background2.png);
    background-repeat:repeat;
    background-attachment: fixed;
    height: 100%;
    margin:0;
}
php    {
    background-image:url(images/background2.png);
    background-repeat:repeat;
    background-attachment: fixed;
}

head {}

body {
    background-image:url(images/background2.png);
    background-repeat:repeat;
    background-attachment: fixed;
    height: 100%;
    margin:0;
}
.hidden{
    display:none;
}
h1 {
    width:80%;
    margin-left:10%;
    text-align: center;
    
}
/*for home.php and home-manager.php*/
h1.home {
    float: center;
    text-align: center;
    margin-left: 10%;
    width: 80%;
    margin-top:3%;
}

/*for index.html*/
h3.question {
    margin-left: 22%;
    margin-top:2%;
    margin-bottom: 5%;
    margin-top: 5%;
}

/*for home-manager.php*/
h3.managerschedule{
    width:10%;
    margin-left:45%;
}
h3.emptysearch:after{
    content:"\2191";
}
p.recent-post{
    font-size: 28px;
}
p.color-red{
    color:red;
}
h3.boxhead{
    margin-top:5%;
}
img.home {
    margin-left: 12%;
    border-radius:5px;
    border-style: solid;
    width:80%;
}
img.schedule-image{
    width:80%;
    height:70%;
    margin-top:3%;
}

/*for index.html*/
a.homelink {
    color: white;
    background-color: rebeccapurple;
    border-style: solid;
    border-color:rebeccapurple;
    margin-left: 10%;
    display:block;
    width:80%;
    line-height: 30px;
    padding-left:5px;
    padding-right:5px;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    margin-top: 5%;
    border-radius: 3px;
    text-decoration: none;
    font-size: 20px;
    
}
a.homelink:hover{
    background-color:#bbafbe;
    border-color:black;
    color:black;
    font-weight: bold;
}

/*links all sections on home.php and home-manager.php to their respective full pages*/
a.divlink{
    color:black;
}
a.divlink p.hovershow{
    display:none;
}
a.divlink:hover p.recent-post{
    display:none
}
a.divlink:hover p.hovershow{
    display:block;
    height:100%;
    width:100%;
}
a.divlink:hover h3.boxhead{
    display:none;
}
a.divlink:hover h4.boxhead{
    display:none;
}

/*for home.php and home-manager.php*/


/*for php output to home.php and home-manager.php*/
table{
    width:100%;
}
td{
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    margin-top: 2%;
    border-radius: 3px;
    border-color: white;
}
input[type="password"] {
    padding: 10px;
    margin-top: 2%;
    border-radius: 3px;
    border-color: white;
}

input[type="button"] {
    padding: 10px;
    margin-top: 2%;
}
input[type="submit"] {
    padding: 10px;
    margin-top: 2%;
}

input[type="radio"] {
    padding: 10px;
    margin-top: 2%;
}
textarea.request {
    width: 30%;
    height: 25%;
    margin-top: 2%;
}

/*login form for login.html*/
div.form {
    float: center;
    align-content: center;
    margin-left: 10%;
    width:80%;
    margin-top: 3%;
}
input[type="text"].login {
    padding: 10px;
    margin-top: 5%;
    border-radius: 3px;
    border-color: white;
    width:100%;
}
input[type="password"].login {
    padding: 10px;
    margin-top: 5%;
    margin-bottom:5%;
    border-radius: 3px;
    border-color: white;
    width:100%;
}
input[type="submit"].login {
    margin-top:5%;
    padding: 10px;
    width:80%;
    margin-left:10%;
}

input[type="radio"].login {
    padding: 10px;
    margin-top:5%;
}
div.splitpage ul{
    list-style-type:none;
    list-style: none;
    display: inline;
}
div.splitpage ul li a.left{
    display: inline;
    float:left;
    height: 4%;
    text-decoration: none;
    text-align: center;
    border-radius:5px;
    border-style: solid;
    background-color:#cbcbcd;
    border-top-color:#e6e6e6;
    border-left-color:#e6e6e6;
    border-bottom-color:#280a42;
    border-right-color: #280a42;
    width:20%;
    margin-left:15%;
    color:black;
    padding-top:7px;
    padding-bottom:7px;
    margin-bottom:5%;
    
}
div.splitpage ul li a.center{
    display: inline;
    float:left;
    height: 4%;
    text-decoration: none;
    text-align: center;
    border-radius:5px;
    border-style: solid;
    background-color:#cbcbcd;
    border-top-color:#e6e6e6;
    border-left-color:#e6e6e6;
    border-bottom-color:#280a42;
    border-right-color: #280a42;
    width:20%;
    margin-left:5%;
    color:black;
    padding-top:7px;
    padding-bottom:7px;
    margin-bottom:5%;
}
div.splitpage ul li a.right{
    display: inline;
    float:right;
    height: 4%;
    text-decoration: none;
    text-align: center;
    border-radius:5px;
    border-style: solid;
    background-color:#cbcbcd;
    border-top-color:#e6e6e6;
    border-left-color:#e6e6e6;
    border-bottom-color:#280a42;
    border-right-color: #280a42;
    width:20%;
    margin-right:15%;
    color:black;
    padding-top:7px;
    padding-bottom:7px;
    margin-bottom:5%;
    
}
div.splitpage ul li a:hover{
    background-color:#565658;
    color: white;
   /* border-top-color:#565658;*/
    border-top-color:#000;
    border-left-color:#000;
    border-bottom-color:#9582c9;
    border-right-color: #9582c9;
}
div.split{
    width:35%;
    margin-left:32.5%;
    margin-top:2.5%;
    margin-bottom:5%;
    border-radius:10px;
    border-style:solid;
    float:left;
    height:auto;
    padding-bottom: 2.5%;
    padding-top:2.5%;
    background-color:#e7d3f8;
}
div.split form{
    width:50%;
    margin-left:25%;
    float:left;
}
div.page a{
    display:none;
}
div.page div.tar{
    display:none;
}
div.page a:target{
    display:block;
}

div.page div.tar:target{
    display:block;
}
div.tar{
    width:60%;
    margin-right:15%;
    padding:5%;
    height:auto;
    border-radius:10px;
    border-style:solid;
    float:right;
    margin-bottom:5%;
    background-color:#e7d3f8;
}
div.tar h3{
    width:auto;
    margin-left:40%;
}
div.tar form{
    width:60%;
    margin-left:20%;
}
div.tar p{
    margin-left:35%;
}
div.tar input{
    float:left;
    margin-left:35%;
}


div.kbsearchoutput{
    margin-top:10%;
}

div.index{
    margin-left: 35%;
    margin-top: 3%;
    margin-bottom: 2%;
    display:block;
    border:2px;
    border-style: solid;
    border-radius:10px;
    width:20%;
    padding:35px;
   /* background-color:#a9abbc;*/
    background-color:#e7d3f8;
    height:auto;
}
div.login{
    margin-left: 35%;
    margin-top: 3%;
    margin-bottom: 2%;
    display:block;
    border:2px;
    border-style: solid;
    border-radius:10px;
    width:20%;
    padding:35px;
   /* background-color:#a9abbc;*/
    background-color:#e7d3f8;
    height:auto;
    
}
div.login textarea{
    width:90%;
    height:30%;
}

div.alertpage{
    width:75%;
    padding:2.5%;
    margin-left:10%;
    float:left;
    margin-top:5%;
    border-style:solid;
    border-radius:5px;
    background-color:#e7d3f8;
    
}
div.sendform{
    float:right;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
    margin-top:2.5%;
    width:35%;
    padding:2.5%;
    border-style:solid;
    border-radius:5px;
    background-color:#e7d3f8;
}
div.sendform input[type="text"] {
    width:80%;
}
div.sendform textarea {
    width:80%;
    height:40%;
}
div.sendform select{
    width:80%;
    text-align: center;
}
div.inbox{
    float:left;
    width:35%;
    margin-left:5%;
    margin-top:2.5%;
    padding:2.5%;
    border-style:solid;
    border-radius:5px;
    background-color:#e7d3f8;
    overflow-x: auto;
}
div.outbox{
    float:left;
    width:35%;
    margin-left:5%;
    margin-top:5%;
    padding:2.5%;
    border-style:solid;
    border-radius:5px;
    background-color:#e7d3f8;
    overflow-x: auto;
}
table.posttable, th , td{
    border:1px solid black;
    background-color:white;
}
table.posttable{
    width:100%;
    overflow:auto;
}
div.createnewproduct{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
    float:left;
    border:2px;
    border-style: solid;
    border-radius:10px;
    width:30%;
    padding:35px;
   /* background-color:#a9abbc;*/
    background-color:#e7d3f8;
    height:auto;
}

div.uploadnewproductreview{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
    float:left;
    border:2px;
    border-style: solid;
    border-radius:10px;
    width:30%;
    padding:35px;
   /* background-color:#a9abbc;*/
    background-color:#e7d3f8;
    height:auto;
}
div.uploadnewproductreview select{
    width:80%;
    margin-bottom:5%;
}
div.uploadnewproductreview textarea{
    width:80%;
    height:15%;
}
div.check-in{
    float: left;
    height: auto;
    width: 70%;
    margin-left: 10%;
    text-align: center;
    border-style: solid;
    border-color: black;    
    border-radius:7px;
    padding:5%;
    margin-bottom: 5%;
    background-color:#e7d3f8;
}
div.kbsearch{
    float: left;
    text-align: center;
    margin-left: 15%;
    width: 50%;
    padding:2.5%;
    margin-top:3%;
    background-color:#e7d3f8;
    border-style:solid;
    border-radius:5px;
}
div.kbsearch input[type="text"]{
    width:80%;
}
div.kbsearchoutput{
    
    margin-left:15%;
    width:65%;
    padding:2.5%;
    margin-top:5%;
    border-style:solid;
    border-radius:5px;
    background-color:#e7d3f8;
    float:left;
}
div.kbsearchoutput p{
    border-style:solid;
    border-radius:5px;
    padding:10px;
    margin-top:0;
    margin-bottom:5%;
}
div.kbsearchoutput a{
    display:block;
    padding:10px;
    text-decoration: none;
    background-color: rebeccapurple;
    width:20%;
    color:white;
    margin-top:0;
    margin-bottom:0;
    text-align: center;
}
div.doc-view{
    width:75%;
    float:left;
    margin-left:10%;
    margin-top:5%;
    border-radius:5px;
    border-style:solid;
    background-color:#e7d3f8;
    padding:2.5%;
}
div.doc-view a.jumplink{
    display:block;
    padding:10px;
    text-decoration: none;
    background-color: rebeccapurple;
    width:25%;
    color:white;
    margin-top:0;
    margin-bottom:0;
    text-align: center;
}
div.doc-view a{
    display:block;
    padding:10px;
    text-decoration: none;
    background-color: rebeccapurple;
    width:auto;
    color:white;
    margin-top:0;
    margin-bottom:0;
}
div.reviewsection{
    float:left;
    margin-top:5%;
    margin-left:10%;
    width:75%;
    padding:2.5%;
    border-style:solid;
    border-radius:5px;
    background-color:#e7d3f8;
    
}
div.reviewsection select{
    width:40%;
    height:4%;
    text-align: center;
}
div.reviewsection textarea{
    width:80%;
    height:30%;
    border-style:solid;
    border-radius:5px;
}
div.headerlogo{
    margin-left:10%;
    width:70%;
    padding-left: 5%;
    padding-right:5%;
    align-content: center;
    margin-top:2%;
    
    
}
img.headerimg{
    width:40%;
    height:20%;
    margin-left:30%;
    box-shadow: 0 0 7px 2px rebeccapurple;
    border-radius:10px;
    background-color: #fff;
    
}
div.viewreview{
    float:left;
    margin-top:5%;
    margin-left:10%;
    margin-bottom:5%;
    height:auto;
    width:75%;
    padding:2.5%;
    border-style:solid;
    border-color:black;
    border-radius:5px;
    background-color:#e7d3f8;
}
div.products{
    padding:5%;
    width:70%;
    height:auto;
    margin-left:10%;
    border-style:solid;
    float:left;
    margin-top:3%;
}
div.products img{
    width:25%;
    height:35%;
    margin-right:5%;
    float:left;
}
div.products h2{
    float:left;
    width:80%;
    margin-left:10%;
    text-align: center;
}
div.products h4{
    float:left;
    width:80%;
    margin-left:10%;
    margin-top:3%;
    -webkit-margin-before:0;
    -webkit-margin-after: 0;
}
div.products p{
    float:left;
    width:80%;
    margin-left:5%;
}

div.viewmesg{
    float:left;
    margin-left:7%;
    width:75%;
    padding:2.5%;
    border-color:black;
    border-style:solid;
    background-color:#e7d3f8;
    border-radius:5px;
}

a.menu-drop{
    display:none;
}
div.sendfrm{
    display:none;
}
#form{
    display:none;
    width:75%;
    padding:2.5%;
    margin-left:10%;
    border-style:solid;
    border-radius:5px;
    background-color:#e7d3f8;
    float:left;
    
}
#form input[type="text"]{
    width:60%;
    margin-left:10%;
    margin-right:30%;
    
}
#form input[type="submit"]{
    width:30%;
    margin-left:35%;
    
}
#form p{
    margin-left:10%;
    font-size: 16px;
    font-weight: bold;
}
#form textarea{
    height:20%;
    width:80%;
    margin-left:10%;
}
#form:target{
    display:block;
}
#database{
    display:none;
    width:75%;
    padding:2.5%;
    margin-left:10%;
    border-style:solid;
    border-radius:5px;
    float:left;
    background-color:#e7d3f8;
}
#database:target{
    display:block;
}

/*home.php & home-manager.php */
div.homepage{
    width:70%;
    height:auto;
    margin-top:6.75%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color:#1a232d;
    padding:5%;
    background-color:rgba(26, 35, 45,.7);
    background: -webkit-linear-gradient(-90deg,rgba(255, 255, 247,.7),rgba(26, 35, 45,.7),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8) ,rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.7),rgba(255, 255, 247,.7));
    background: -o-linear-gradient(-90deg,rgba(255, 255, 247,.7),rgba(26, 35, 45,.7),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8) ,rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.7),rgba(255, 255, 247,.7)); 
    background: -moz-linear-gradient(-90deg,rgba(255, 255, 247,.7),rgba(26, 35, 45,.7),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8) ,rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.7),rgba(255, 255, 247,.7)); 
    background: linear-gradient(-90deg,rgba(255, 255, 247,.7),rgba(26, 35, 45,.7),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8) ,rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.7),rgba(255, 255, 247,.7)); /* Standard syntax */
    position: absolute;
    display: block;
    float:left;
    margin-left:10%;
    margin-bottom:6%;
}
div.acctinfo {
    float: right;
    padding: 5px;
    margin-right: 15%;
    margin-top: 5%;
    border-color: black;
    border-style: solid;
    border-radius:7px;
    background-color:#e7d3f8;
}

div.acctinfo h3 {
    text-align: center;
}
div.actions {
    width: 70%;
    text-align: center;
    height:auto;
    margin-left: 15%;
    margin-bottom:5%;
    margin-top:1%;
    float: left;
    display:block;
    border-bottom-style:solid;
    border-bottom-color: #280a42;
}
ul.actions {
    list-style: none;
    display: inline;
    list-style-type: none;
    width:auto;
    float:left;
    margin-bottom:0;
    margin-top:0;
}

ul.actions li {
    list-style: none;
    list-style-type: none;
    display: inline;
}

ul.actions li a {
    display: inline;
    text-decoration: none;
    height:50px;
    width:8.5%;
    float:left;
    margin-left:0%;
    border-style: solid;
    border-top-color:#280a42;
    border-left-color:#280a42;
    border-bottom-color:#280a42;
    border-right-color: #280a42;
    border-left-style: none;
    border-bottom-style: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background: -webkit-linear-gradient(rgba(231, 211, 248,.6),rgba(231, 211, 248,.6),rgba(26, 35, 45,.3), rgba(26, 35, 45,.7),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8), rgba(26, 35, 45,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(231, 211, 248,.6),rgba(231, 211, 248,.6),rgba(26, 35, 45,.3), rgba(26, 35, 45,.7),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8), rgba(26, 35, 45,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(231, 211, 248,.6),rgba(231, 211, 248,.6),rgba(26, 35, 45,.3), rgba(26, 35, 45,.7),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8), rgba(26, 35, 45,.8));/* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(231, 211, 248,.6),rgba(231, 211, 248,.6),rgba(26, 35, 45,.3), rgba(26, 35, 45,.7),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8),rgba(26, 35, 45,.8), rgba(26, 35, 45,.8));
    color:#f9fddf;
    padding:10px;
    padding-top:30px;
    margin-top:0%;
    line-height:15px;
    
}

ul.actions li a.first{
    border-left-style:solid;
}

ul.actions li a:hover{
    background: -webkit-linear-gradient(#1a232d,#e7d3f8 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1a232d,#e7d3f8 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1a232d,#e7d3f8 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1a232d,#e7d3f8 );
    color: black;
   /* border-top-color:#565658;*/
    border-top-color:#000;
    border-left-color:#000;
    border-bottom-color:#280a42;
    border-right-color: #280a42;
}

div.alerts {
    height: 10%;
    width: 40%;
    padding:2.5%;
    margin-left:15%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    float: left;
    padding:10px;
    text-align: center;
    border-color: rgb(26, 35, 45);
    border-style: solid;
    background-color:#e7d3f8;
    border-bottom-style:none;
    border-right-style:none;
    display: block;
}
div.alerts:hover{
    border-color:#e7d3f8;
    height: 30%;
    width: 40%;
}


div.schedule {
    float: left;
    height: auto;
    width: 70%;
    margin-left: 10%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius:7px;
    padding:5%;
    background-color:#e7d3f8;
}

div.cc {
    float: right;
    height: 10%;
    width: 19%;
    padding:2.5%;
    margin-right:13%;
    margin-bottom:3%;
    padding:10px;
    text-align: center;    
    border-color: rgb(26, 35, 45);
    border-style: solid;
    margin-bottom: 5%;
    background-color:#e7d3f8;
    border-bottom-style:none;
    border-right-style:none;
    display: block;
}
div.cc:hover{
    border-color:#e7d3f8;
    height: 10%;
    width: 19%;

}

div.ne {
    float: left;
    position: relative;
    height: 10%;
    width: 19%;
    padding:2.5%;
    margin-bottom:3%;
    padding:10px;
    margin-left:15%;
    margin-right:0;
    text-align: center;
    border-color: rgb(26, 35, 45);
    border-style: solid;
    border-bottom-style:none;
    border-right-style:none;
    margin-bottom: 5%;
    background-color:#e7d3f8;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: block;
}
div.ne:hover{
    border-color:#e7d3f8; 
    height: 10%;
    width: 19%;

}


/*request-view.php */

div.restock{
    float: left;
    height: 40%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    border-style: solid;
    border-color: green;
    margin-top:5%;
    margin-bottom:2%;
}
div.product{
    float: left;
    height: 40%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    border-style: solid;
    border-color: green;
    margin-top:3%;
    margin-bottom:2%;
}
div.transfer{
    float: left;
    height: 40%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    border-style: solid;
    border-color: green;
    margin-top:3%;
    margin-bottom:2%;
}
div.signage{
    float: left;
    height: 40%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    border-style: solid;
    border-color: green;
    margin-top:3%;
    margin-bottom:2%;
}
div.time-off{
    float: left;
    height: 40%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    border-style: solid;
    border-color: green;
    margin-top:3%;
    margin-bottom:2%;
}

@media screen and (max-width: 1580px) {
   /* div.actions{
        margin-left:25%;
        margin-right:5%;
}
    div.acctinfo{
        margin-right:25%;
        margin-left:5%;
        margin-bottom:11.5%;
    }
    div.alerts{
        margin-left:26.5%;
    }
    */
    div.actions{
        margin-left:5%;
    }
}

@media screen and (max-width: 1110px) {
    div.actions{
        width:35%;
        margin-right:5%;
        margin-left:10%;
        height:auto;
    }
    div.acctinfo{
        width:35%;
        margin-right:10%;
        height:30%;
        margin-top:0;
    }
}

@media screen and (max-width: 460px) {
    h1.home{
        margin-top:10%;
    }
    p.recent-post{
        font-size: 20px;
    }
    div.actions{
        width:75%;
        padding:2.5%;
        margin-left:10%;
        height:auto;
        margin-bottom:10%;
        border-radius: 2px;
        border-color: black;
        border-style: solid;
        border-radius:7px;
        background-color:#e7d3f8;
        z-index: 1;
    }
    ul.actions{
        display:block;
        height:auto;
        width:auto;
        margin-left:0;
        padding-left:2.5%;
    }
    ul.actions li{
        display:block;
    }
    ul.actions li a{
        width:80%;
        padding-top:2.5%;
        height:7.5%;
        margin-bottom:0;
        margin-left:25%;
        background:rgb(26, 35, 45);
        color:white;
        margin-top:1%;
    }
    ul.actions li a.first{
    }
    
    div.acctinfo{
        float:left;
        width:75%;
        padding-left:2.5%;
        padding-right:2.5%;
        margin-right:10%;
        margin-left:10%;
        height:auto;
        margin-top:5%;
        margin-bottom:10%;
    }
    div.alerts{
        float:left;
        margin-left:10%;
        margin-right:10%;
        margin-bottom:10%;
        width:80%;
        padding:0;
        height:auto;
        border-style:solid;
        border-radius:5px;
        
    }
    h3.boxhead{
        margin-top:5%;
    }
    img.schedule-image{
        height:30%;
    }
    div.cc{
        width:80%;
        margin-right:9%;
        margin-bottom:10%;
        height:auto;
        padding:0;
        border-style:solid;
        border-radius:5px;
        
    }
    div.ne{
        width:80%;
        margin-left:10%;
        height:auto;
        float:left;
        padding:0;
        border-style:solid;
        border-radius:5px;
        
    }
    div.index{
        width:60%;
        height:auto;
        margin-left: 10%;
        margin-top:3%;
        margin-bottom: 2%;
        display:block;
        border:2px;
        border-style: solid;
        border-radius:10px;
        padding:35px; 
        
    }
    img.home {
        margin-left:12%;
        border-radius:5px;
    }
    a.homelink {
        margin-left: 10%;
        display:block;
        width:80%;
        height:5%;
        line-height: 30px;
        padding-left:5px;
        padding-right:5px;
        padding-top:15px;
        padding-bottom:15px;
        color: white;
        background-color: rebeccapurple;
        text-align:center;
        border-radius: 3px;
        text-decoration: none;
        font-size: 20px;
        border-style:hidden;
    }
    h3.question{
        margin-bottom: 0;
        margin-top: 0;
        width:80%;
        margin-left:10%;
        text-align: center;
    }
    h1{
        margin-top:0;
    }
    div.login{
        width:60%;
        height:auto;
        margin-left: 10%;
        margin-top:10%;
        margin-bottom: 2%;
        display:block;
        border:2px;
        border-style: solid;
        border-radius:10px;
        padding:35px; 
        
    }
    img.schedule-image{
        width:70%;
        height:auto;
    }
    a.schedule{
        display:none;
    }
    table.posttable{
        width:100%;
    }
    div.alertpage{
        margin-left:2.5%;
        width:90%;
    }
    div#sendform{
        width:80%;
        float:left;
        margin-left:7.5%;
        display:none;
        
    }
    div#sendform:target{
        display:block;
    }
    div.sendfrm{
        display:block;
        margin-left:7%;
        margin-top:5%;
        margin-bottom:5%;
        height:auto;
        float:left;
        width:75%;
        padding:2.5%;
        border-style:solid;
        border-color:black;
        border-radius:5px;
        background-color:#e7d3f8;
        position: relative;
        
    }
    div.sendfrm textarea{
        width:80%;
        height:30%;
    }
    div.inbox{
        width:85%;
        float:left;
        margin-left:5%;
    }
    div.outbox{
        width:85%;
        float:left;
        margin-left:5%;
    }
    div.kbsearch{
        width:75%;
        margin-bottom:5%;
        margin-left:10%;
    }
    div.kbsearchoutput{
        width:75%;
        margin-left:10%;
        margin-bottom:10%;
    
    }
    div.kbsearchoutput p{
        border-style:solid;
        border-radius:5px;
        padding:10px;
        margin-top:0;
        margin-bottom:5%;
    }
    div.kbsearchoutput a{
        display:block;
        padding:10px;
        text-decoration: none;
        background-color: rebeccapurple;
        width:80%;
        color:white;
        margin-top:0;
        margin-bottom:0;
    }
    div.doc-view a.jumplink{
        width:80%;
        margin-left:7.5%;
    }
    div.headerlogo{
        margin-left:10%;
        margin-right:0;
        width:70%;
        align-content: center;
        margin-top:2%;
        padding:0;

    }
    img.headerimg{
        width:80%;
        height:20%;
        margin-left:20%;
        

    }
    div.homepage{
        margin-right:5%;
        margin-top:5%;
        width:90%;
        padding:0;
        position: relative;
        float:right;
    }
    a.menu-drop{
        display:block;
        float:left;
        margin-left:10%;
        width:75%;
        margin-bottom:3%;
        padding:2.5%;
        border-style:solid;
        border-radius:5px;
        background-color:#e7d3f8;
        color:black;
        text-align: center;
        text-decoration: none;
    }
    #action{
        display:none;
        float:left;
    }
    
    #action:target{
        display:block;
    }
}
@media screen and (max-width: 458px) , screen and (max-height: 687px) {
    
}
@media screen and (max-width: 321px) {
    div.alertpage{
        width:100%;
        margin-left:0;
    }
}
